#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f7f9;
}
* {
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
}